.dashboard-top{
    height: 10vh;
    width: 100vw;
    outline: 1px solid lightgray;
    min-height: 65px;
}

.dashboard-left {
    width: 15vw;
    height: 100vh;
    outline: 1px solid lightgray;
    min-width: 130px;
}

.dashboardlogo {
    width: 60%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 15%;
}

.dashboardicon {
    margin-top: 12%;
    margin-left: 15%;
    width: 13%;
}

.dashboardlabels{
    margin-left: 7%;
    font-size: 1vw;
    position: relative;
    bottom: .5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.pro{
    font-size: 1.0vw;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom:5%;
    margin-top: 15%;
}

.unlock{
    display: block;
    font-size: .8vw;
    word-wrap: break-word;
    text-align: center;

}

.unlock2{
    font-size: .8vw;
    text-align: center;
    display: block;

}

.upgrade {
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    width: 45%;
    height: 3.5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-bottom: 15vh;
    

    text-align: center;
    font-size: .9vw;
    font-weight: bold;
    align-items: center;
  }

  .intro{
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    margin-top: 1%;
    display: block;
    margin-bottom: -50px;
  }

  .introsub{
    margin-left: 5%;
    font-size: 1.5vh;
  }


  .Calender{
    margin-left: 45%;
    font-size: 1.5vh;
    width: 100px;
    align-items: center;
    position: relative;
    bottom: 5%;
  }

  .calenderIcon{
    width: 2.5vh;
    margin-left: .5%;
    align-items: center;
  }

  
  .profileIcon{
    width: 5.5vh;
    margin-left: 1.5%;
    align-items: center;
  }