.dashboard-left {
    width: 15%;
    height: 900px;
}

.dashboardlogo {
    width: 50%;
    margin-top: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.dashboardicon {
    margin-top: 10%;
    margin-left: 10%;
    width: 12%
}