.dashboard-top{
    height: 10vh;
    width: 100vw;
    outline: 1px solid black;
}

.dashboard-left {
    width: 15%;
    height: 100vh;
    outline: 1px solid black;
}

.dashboardlogo {
    width: 30%;
 
}

.dashboardicon {
    margin-top: 10%;
    margin-left: 15%;
    width: 12%
}

.dashboardlabels{
    margin-left: 5%;
    position: relative;
    top: -8px;
    font-size: 12px;
}