.dashboard-top{
    height: 10vh;
    width: 100vw;
    outline: 1px solid black;
}

.dashboard-left {
    width: 15vw;
    height: 100vh;
    outline: 1px solid black;
}

.dashboardlogo {
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 15%;
}

.dashboardicon {
    margin-top: 10%;
    margin-left: 15%;
    width: 10%
}

.dashboardlabels{
    margin-left: 5%;
    position: relative;
    top: -8px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pro{
    margin-left: 20%;
    margin-top: 20%;
    font-size: 10px;
}