.dash {
  height: 100vh;
  width: 100vw;
  outline: 1px solid lightgray;
  min-width: 1025px;;
  display: flex;
  flex-wrap: wrap;
}

.top-logo {
  width: 15vw;
  height: 10vh;
  outline: 1px solid lightgray;
  min-height: 55px;;
  min-width: 150px;;
}

.top-intro {
  width: 68vw;
  height: 10vh;
  outline: 1px solid lightgray;
  min-width: 450px;
  min-height: 55px;;
  min-width: 680px;;
}

.top-profile {
  width: 15vw;
  height: 10vh;
  outline: 1px solid lightgray;
  min-width: 100px;
  min-height: 55px;;
  min-width: 165px;;
}

.bottom-options {
  width: 15vw;
  height: 90vh;
  outline: 1px solid lightgray;
  min-height: 450px;
  min-width: 150px;;
}

.bottom-info {
  width: 60vw;
  height: 90vh;
  outline: 1px solid lightgray;
  min-width: 600px;;
}

.bottom-profile {
  width: 23vw;
  height: 90vh;
  outline: 1px solid lightgray;
  min-width: 250px;
}


.dashboardlogo {
  width: 17.5vh;
  margin-top: 3vh;
  margin-left: 2.5vw;
  min-width: 100px;
}

.dashboardicon {
  margin-top: 12%;
  margin-left: 15%;
  width: 13%;
  min-width: 20px;
}

.dashboardlabels {
  margin-left: 7%;
  font-size: 1vw;
  position: relative;
  bottom: .5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.pro {
  font-size: 1.0vw;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 5%;
  margin-top: 10vh;
}

.unlock {
  display: block;
  font-size: .8vw;
  word-wrap: break-word;
  text-align: center;

}

.unlock2 {
  font-size: .8vw;
  text-align: center;
  display: block;

}

.upgrade {
  background-color: lightblue;
  border: none;
  border-radius: 15px;
  width: 45%;
  height: 3.5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  margin-bottom: 10vh;
  text-align: center;
  font-size: .9vw;
  font-weight: bold;
  align-items: center;
}

.intro {
  font-size: 3vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 6vh;
  margin-top: 2vh;
  display: inline-block;
}

.introsub {
  margin-left: 6vh;
  font-size: 1.5vh;
  margin-top: 2px;
  display: flex;
}


.Calender {
  position: relative;
  left: 45vw;
  top: 1vh;
  font-size: 1.5vh;
}

.calenderIcon {
  width: 2.5vh;
  position: relative;
  left: 45.25vw;
  top: 1.5vh;
  font-size: 1.5vh;
}

.profileIcon {
  width: 7vh;
  margin-left: 10%;
  margin-top: 1.5vh;
  min-width: 40px
}

.userLabel {
  margin-left: 6vw;
  font-size: 2.2vh;
  position: relative;
  bottom: 7.5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  display: block;
  margin-bottom: -17.5px
}

.userLabel2 {
  margin-left: 6vw;
  font-size: 1.5vh;
  position: relative;
  bottom: 7.5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  display: block;
  margin-bottom: -17.5px
}

.box {
  margin-top: 5vh;
  height: 6vh;
  width: 12.5vw;
  outline: 1px solid lightgray;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 25px;
  margin-left: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 10%;
  min-width: 130px;
  min-height: 40px;

}

.boximage {
  width: 35%;
  margin-left: 20%;
  margin-top: -5px;
  margin-right: auto;
}

.boximage2 {
  width: 27.5%;
  margin-left: 25%;

}

.boxLabel {
  display: block;
  margin-left: 32.5%;
  font-size: 2.2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.boxlabel2 {
  display: block;
  font-size: 1vw;
  text-align: center;
  margin-left: -25%;
  margin-top: -20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more {
  margin-left: 30%;
  margin-top: 27.5%;
  display: block;
  font-size: 1vw;
}

.bronze{
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

.bronzelabel{
  display: block;
  margin-left: 32.5%;
  font-size: 2.2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 

.bronzeicon{
  width: 3vw;
  position: absolute;;
  display: flex;
  left: 79%;
  top: 95px;
  outline: 2px solid white;
  border-radius: 205px;
  min-width: 35px;
  min-height: 35px;
}

.bronzeInformation{
  display: flex;
  position: relative;
  right: 30%;
  margin-top: 45%;
  margin-right: 5vw;
  font-size: 1.2vw;
  color: white;
}


.bronzeInformation2{
  display: flex;
  position: relative;
  right: 120%;
  margin-top: 55%;
  margin-right: 2.5vw;
  font-size: .8vw;
  color: white;
 }

.bo2{
  margin-top: 5vh;
  height: 25vh;
  width: 20vw;
  display: flex;
  vertical-align: top;
  background-color: white;
  margin-left: 10%;
  min-width: 130px;
  min-height: 130px;
  outline: 2px solid black;

}
